body {
  font-family: "Open Sans", sans-serif;
  margin: 60px 0 60px 0;
}

/* button default
---------------------------- */
.btn-default {
  color: #333;
  background-color: #f8f9fa;
  border-color: #ccc;
}

.btn-default:focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}

.btn-default:active,
.btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

/* Search in NavBar
---------------------------- */ /* ESTUDAR ESTE UM POUCO MELHOR QUE FOI UM POUCO ATOA*/
.search_input {
  width: 100%;
  padding: 12px 24px;

  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;

  color: #2f2f2e;
  background-color: transparent;
  background-image: url("https://cdn.pixabay.com/photo/2021/10/11/00/59/search-6699087_960_720.png");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 50px;
  border: 1px solid #2f2f2e;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
.search_input::placeholder {
  color: #2f2f2e;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.search_input:hover,
.search_input:focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid #2f2f2e;
  border-radius: 0;
  background-position: 100% center;
}
/* button-xs
---------------------------- */
.btn-group-xs > .btn,
.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

li.page-item a {
  font-size: 0.85rem;
}
#my-cards img {
  object-position: top;
  object-fit: cover;
}
